/*custom color variables*/
:root {
    --primary-color: #B3C8CF;
    --secondary-color: #BED7DC;
    --tertiary-color: #F1EEDC;
    --quaternary-color: #E5DDC5;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
    color: #0e0c0c;
}


.content{
    border:#FFA07A 2px solid ;
    text-align: center;
}
    
h1, h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}   


.building{
     border: 2px solid #FFA07A;
     padding: 20px;
     text-align:center;
    margin-bottom: 20px;
}

/*Memorable Pictures from its Construction text*/
.start{
 text-align: center;

}

/* Image section styles */
.images {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}
  
.img-with-heading h1,
.img-with-heading h2,
.img-with-heading h3 {

    font-size: 18px;
    color: #0e0c0c;
    margin-top: 5px;
    ;
    
}

.images img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

/* Section styles for additional info */
.additional-info {
    border: 2px solid #FFA07A;
    padding: 20px;
    text-align: center;
}

/* Navigation Links */
.links {
    text-align: center;
    font-size: 18px; 
    background-color: var(--primary-color);
    border: 30px solid var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .links a {
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--secondary-color); 
    color: #000;
    margin: 15px;
    transition: 0.3s, color 0.3s;
    font-size: 16px; 
  }
  
  .links a:hover {
    background-color: var(--quaternary-color);
  }

  iframe {
    border:2px solid #FFA07A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: block;
    margin-top: 200px;
    margin-bottom: 100px;
    width:400px;
    height: 200px;

}
