  /* Custom color variables */
  :root {
    --primary-color: #B3C8CF;
    --secondary-color: #BED7DC;
    --tertiary-color: #F1EEDC;
    --quaternary-color: #E5DDC5;
}

body {
    margin-bottom: 0;
    background-color: var(--primary-color);
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a {
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #000;
    margin: 15px;
    transition: 0.3s, color 0.3s;
    font-size: 16px;
  }
  
  .links a:hover {
    background-color: var(--quaternary-color);
  }
  
  .navbar {
    display: flex;
    justify-content: center; /* Center align items on larger screens */
  }
  
  .links {
    display: flex;
    justify-content: center; /* Center align navigation links */
  }
  
  .navbar {
    text-decoration: none;
    margin: 0 15px;
  }
  
  .burger-menu {
    display: none;
  }
  
  .line {
    width: 35px;
    height: 3px;
    background-color: #130000;
    margin: 5px;
  }

  

.images {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.img-with-heading h1,
.img-with-heading h2,
.img-with-heading h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #0e0c0c;
    margin-top: 5px;
    text-transform: uppercase;
}

.images img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.content {
    border: 2px solid #FFA07A;
    padding: 20px;
}

footer {
    background-color: #B3C8CF;
    margin-bottom: 0; /* Remove bottom margin to fill entire screen */
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

.social a {
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
}

.social a i {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

.footerbottom {
    background-color: #B3C8CF;
    padding: 20px;
    text-align: center;
}

iframe {
    border: 2px solid #FFA07A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 400px;
    height: 250px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    .links {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: flex-start; /* Align navbar items to the left on mobile */
    }
  
    .links {
        display: none;
        flex-direction: column; /* Arrange links vertically in mobile dropdown */
    }
  
    .links.show {
        display: flex;
        background-color: var(--primary-color); /* Change background color for visibility */
        width: 100%;
        padding: 10px;
    }
  
    .burger-menu {
        display: block;
        cursor: pointer;
    }
  }