
/* Global Styles */
:root {
    --primary-color: #B3C8CF;
    --secondary-color: #BED7DC;
    --tertiary-color: #F1EEDC;
    --quaternary-color: #E5DDC5;
    
}


html, body {
  height: 100%;
  margin: 0;
}

body {
 background-color: var(--primary-color);
  margin-bottom: 60px;
}

h1 {
    color: #0e0c0c;
    font-size: 40px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    margin-top: auto;
    border: #FFA07A 2px solid;
}

.paris {
  background-image: url('../images/pic.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.links a {
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #000;
  margin: 15px;
  transition: 0.3s, color 0.3s;
  font-size: 16px;
}

.links a:hover {
  background-color: var(--quaternary-color);
}

.navbar {
  display: flex;
  justify-content: center; 
}

.links {
  display: flex;

}


.burger-menu {
  display: none;
}

.line {
  width: 35px;
  height: 3px;
  background-color: #0c0c0c;
  margin: 5px;
}

.intro{
    border: #FFA07A   2px solid;
    padding: 40PX;
    border-radius: 20px;
    background-color: var(--primary-color);
    
}
.intro {
  font-size: 16px;
}



footer {
    background-color:#B3C8CF;
    margin-top: 100px;
  }

  
  .social {
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top:20px;
  }

  .social a {
     text-decoration: none;
     padding: 10px;
     background-color: aliceblue;
     margin: 10px;
     border-radius: 50%;
  }

  .social a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
  }

  /* Hover effects on social media icons */
  .socialicons a:hover{
    background-color:#B3C8CF;
    transition: 0.100s;
  }

  .social a:hover i{
    color:#B3C8CF;
    transition: 0.5s;

  }

  .footernav{
    margin: 30px 0;
  }

  .footernav ul{
    display: flex;
    justify-content: center;
  }


  .footerbottom{
    background-color:#B3C8CF;
    padding: 20px;
    text-align: center;
  }

  .footerbottom p{
    color: black;
  }
/* Media Queries */
@media screen and (max-width: 768px) {
 
  h1 {
      font-size: 30px;
  }

  h2 {
      font-size: 16px;
  }

  h3{
      font-size: 16px;
  }

  .links {
      flex-direction: column;
  }

  img {
      width: 80%;
      max-width: 250px;
      float: none;
      margin: 20px auto;
  }
}


@media only screen and (max-width: 768px) {
  .navbar {
      justify-content: flex-start; /* Align navbar items to the left on mobile */
  }

  .links {
      display: none;
      flex-direction: column; /* Arrange links vertically in mobile dropdown */
  }

  .links.show {
      display: flex;
      background-color: var(--primary-color); /* Change background color for visibility */
      width: 100%;
      padding: 10px;
  }

  .burger-menu {
      display: block;
      cursor: pointer;
  }
}
