:root {
    --primary-color: #B3C8CF;
    --secondary-color: #BED7DC;
    --tertiary-color: #F1EEDC;
    --quaternary-color: #E5DDC5;
    --quinary-color: #cfbcb3;
}

body {
    background-color: var(--primary-color);
}


/* Style for the image containers */
.image-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}




