:root {
    --primary-color: #B3C8CF;
    --secondary-color: #BED7DC;
    --tertiary-color: #F1EEDC;
    --quaternary-color: #E5DDC5;
    --quinary-color: #cfbcb3;
}

body {
    background-color: var(--primary-color);
}


/* Style for the image containers */
.image-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 10px;
 
}

h1, h2, h3{
   font-size: 2em;
   text-align: center;
   text-transform: uppercase;

  
}

/* Style for paragraphs */
.memorable {
    color: #080000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size:20px;
}


/* Navigation Links */
.links {
    text-align: center;
    font-size: 18px; 
    background-color: var(--primary-color);
    border: 30px solid var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .links a {
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--secondary-color); 
    color: #000;
    margin: 15px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; 
  }
  
  .links a:hover {
    background-color: var(--quaternary-color);
  }
  
  footer {
    background-color:#B3C8CF;
  }

  .footercontainer {
    width: 100%;
    padding: 50px 30px 20px;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .social a {
     text-decoration: none;
     padding: 10px;
     background-color: aliceblue;
     margin: 10px;
     border-radius: 50%;
  }

  .social a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
  }

  /* Hover effects on social media icons */
  .socialicons a:hover{
    background-color:#B3C8CF;
    transition: 0.100s;
  }

  .social a:hover i{
    color:#B3C8CF;
    transition: 0.5s;
  }

  .footernav{
    margin: 30px 0;
  }

  .footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }


  
  .footerbottom{
    background-color:#B3C8CF;
    padding: 20px;
    text-align: center;
  }

  .footerbottom p{
    color: black;
  }


  /* Media Queries */
@media screen and (max-width: 768px) {
 
    h1 {
        font-size: 30px;
    }
  
    h2 {
        font-size: 16px;
    }

    h3{
        font-size: 16px;
    }

    .links {
        flex-direction: column;
    }
  
    img {
        width: 80%;
        max-width: 250px;
        float: none;
        margin: 20px auto;
    }
}